/*body */
html, body {
  font-family: britannic-bold;
  margin: 0;
  width: 100%;
  
  /*length*/
  height: 125%;
}

/* container division */
.container {
  display: flex;
}

/* main division */
.main {
	background-color: #FFD380;
  padding-left: 30px;
  min-width: 75%;
}

/* navigation division */
.nav {
  background-color: #F79114;
  max-width: 25%;
  min-width: 140px;
  flex: 1;
}

/* navigation bar characters */
.nav h1 {
  padding-left: 20px;
}

div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

/* subheading style */
h1 {
  font-size: 2rem;
}

/* navigation character */
h2{
	text-align: center;
	font-size: 1rem;
}

/* page title style */
h3{
 font-size: small-caption;
}

/* paragraph style */
p {
  max-width: 65%;
  min-width: 500px;
}

img {
	mix-blend-mode: multiply;
}



